body{
    background-color: rgb(162, 205, 162);
}
main{
    background-color: azure;
}
footer{
    background-color: rgb(60, 79, 60);
    color: antiquewhite;
}
    header{
        text-align: center;
    }
#carroussel{

}